{% extends 'base/base.html' %}

{% block title %}Welcome{% endblock %}



{% block js_head %}
{% load static %}
<script src="{% static 'webcomponentsjs/webcomponents-loader.js' %}"></script> 

<link rel="import" href="{% static 'polymer/polymer.html' %}">
<link rel="import" href="{% static 'iron-demo-helpers/demo-pages-shared-styles.html' %}">
<link rel="import" href="{% static 'iron-demo-helpers/demo-snippet.html' %}">
<link rel="import" href="{% url 'base:basic-demo' %}">
{% endblock %}


{% block body %}
<custom-style>
<style is="custom-style" include="demo-pages-shared-styles"></style>
</custom-style>

<div class="vertical-section-container centered">
  <h3>Basic Demo</h3>
  <demo-snippet>
  <template>
      <basic-demo></basic-demo>
  </template>
</demo-snippet>
</div>

{% endblock %}