{% load static %}
<link rel="import" href="{% static 'polymer/polymer-element.html' %}">

<dom-module id="basic-demo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `bbc-minute`
     * A bbc element to feature the globalnewsbeat
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BasicDemo extends Polymer.Element {
      static get is() { return 'basic-demo'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Basic Demo'
          }
        };
      }
    }

    window.customElements.define(BasicDemo.is, BasicDemo);
  </script>
</dom-module>
